body{
  background-color: #F4ECEC;
    /* margin-left: 8%;
    margin-right: 8%;   */
}

.home{
    background-color: white;
    width: 80%;
    margin:auto;
    
}

.section-title {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  line-height: 1;
  margin: 0;
  background: #fdeff2;
  color: #00A550;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #00A550;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}




  .Catalog{
    background-color: #8AC542;
    margin-bottom: 60px;
    color: white;
    width: 100%;
    height: 70px;
    font-size: 28px;
    padding-left: 45%;
    padding-top: 14px;
    border: none;
  }

  .card{
    background-color: white;
    color: #101010;
    margin-left: 20%;
    margin-right: 20%;
    overflow: hidden;
}
td{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400; 
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-fluid:hover {
  transform: scale(1.2);
}
