body{
  background-color: #F4ECEC;
    /* margin-left: 8%;
    margin-right: 8%;   */
}

.home{
    background-color: white;
    width: 80%;
    margin:auto;
}

.section-title {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  line-height: 1;
  margin: 0;
  background: #fdeff2;
  color: #00A550;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #00A550;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

  .Catalog{
    background-color: #8AC542;
    margin-bottom: 60px;
    color: white;
    width: 100%;
    height: 70px;
    font-size: 28px;
    padding-left: 45%;
    padding-top: 14px;
    border: none;
  }

/* style dropdown */
.dropdown{
	height: 40%;
	margin-left: 80%;
  margin-bottom: 5%;
	border-radius: 5px;
	-webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#0a0a0a;
   cursor:pointer;
   font-size: 20px;
   font-family: 'Open Sans', sans-serif;
}

  /* style produk */
.sjw{
    --bs-gutter-x: -10rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    border-radius: 5px;
}


.card-tampilan{
  background-color: rgba(234, 248, 235, 0.904);
  border-radius: 2px;
  max-height: 40%;
}

.card-img-top{
  width: 200px;
  height: 150px;
  margin-left: 10px;
}

.judul-produk{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    font-weight: 500;
    max-width: 100%;
    max-height: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.harga-produk{
  font-display: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 400; 
}
.btn1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 80px 20px 90px;
    width: 90px;
    height: 30px;
    background-color: #00A550;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
.btn1:hover{
    background: white;
    color: #8AC542;
    border: 1px solid;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
}

@media (max-width: 576px) {

  .home  {
  }

  .new{
    height: 30px;
    padding-left: 10%;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .btn-contact{
    height: 40px;
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
  }

  .btn-font{
    font-size: 16px;
  }

  .dropdown{
    margin-left: 40%;
  }
 
  .catalog{
    padding-left: 36%;
  }
  .previous {
    font-size: 3vw;
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    font-size: 3vw;
    background-color: #04AA6D;
    color: white;
  }
 
  

}

@media (min-width: 300px){

  .product-grid {
    margin-left: 10px;
    margin-right: 10px ;
  }
  

  
  }
  

/* Mengatur tampilan untuk layar sedang */


@media (min-width: 576px) {
  
  .home {
    width: 80%;
}
}

@media (min-width: 768px){

  .home{
}

  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .new{
    height: 30px;
    padding-left: 40%;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .dropdown{
    margin-left: 70%;
  }

  .catalog{
    padding-left: 40%;
  }

 
  }


  /* Mengatur tampilan untuk layar besar */
@media (min-width: 992px) {

  .home {
      width: 80%;
      
  }

  
}

@media (min-width: 992px){

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.new{
  height: 50px;
  padding-left: 40%;
  font-size: 28px;
  margin-bottom: 50px;
}

.dropdown{
  margin-left: 80%;
}


}

 